<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.helloworld">

    <!--注释
    application标签   表示活动的注册声明

    activity标签      表示对活动的注册
        android:name=".HelloWorldActivity" 表示要注册哪一个活动
        android:label="@string/app_name" 表示标题栏的内容
        intent-filter 表示为程序注册主活动
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HelloWorldActivity"
            android:label="LED APP"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>